/*@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Roboto+Serif:opsz,wght@8..144,400;8..144,500&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Quicksand&display=swap');*/


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}

/*

  background: linear-gradient(90deg, rgba(255,255,255) 0%, rgb(28,181,233) 100%);
  transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

@keyframes glow-animation{
  0%   {
    opacity: 0;
  }
  10%   {
    transform: scale(.7);
  }
  40%  {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    transform: scale(.6);
  }
  100%   {
    opacity: 0;
  }
}
body,html,main,div,p,ul,ol,li,h1,h2,h3,h4{
  margin: 0px;
  padding: 0px;
}

*{
  -webkit-transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
@media (max-width: 760px){}
:root{
  --navradius: 5000px;
  --navpad: 15px;
}
*/


body,html{
  width: 100%;
  height: 100%;
}

body{
  background: #1e4c62;
  color: white;

  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0px 0px 10px;
  height: auto;
  box-sizing: border-box;

  font-family: 'Quicksand', serif;
  font-size: 22px;
  line-height: 1.35em;
}
br{
  clear: both;
}
a{
  color: inherit;
  text-decoration: none;
}
p a span,
li a span,
p a:visited span,
li a:visited span{
  text-decoration: underline;
  /*color: #000000;*/
}

h1,
h2,
h3{
  font-family: 'Raleway', sans-serif;
  line-height: 1em;
  font-weight: 300;
  padding: 0px 0px 36px;
}

h1{
  font-size: 48px;
}
h1 small{
  font-size: .5em;
  line-height: 1em;
}
h2{
  font-size: 48px;
}
h1 strong{
  font-weight: 600;
}
p{
  padding: 0px 0px 16px;
}
p a{
  cursor: pointer;
}

@media (min-width: 550px){
  h1{
    font-size: 80px;
  }
}

#shim,
header,
main,
main > div:first-child,
section,
footer{
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
#shim{
  height: 0;
}

main{
  overflow: hidden;
}

section > div:first-child,
footer > div:first-child{
  display: block;
  position: relative;
  float: none;
  width: 100%;
  max-width: 980px;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 0px 24px 120px;
}

/*
section ul{
  display: block;
  position: relative;
  float: left;
  box-sizing: border-box;
  padding: 0px 30px 12px 0px;
  list-style: none;
}
section ul li{
  padding: 0px 0px 2px 12px;
}
section ul li:before{
  content: '•';
  font-size: .7em;
  display: block;
  position: relative;
  float: left;
  margin: .3em 0px 0px -8px;
}*/

#bg{
  display: block;
  position: fixed;
  float: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#bg0{
  object-fit: cover;
  object-position: bottom center;
  display: block;
  position: absolute;
  float: none;
  top: -48px;
  left: 0px;
  width: 100%;
  height: 120vh;

  transition:
    opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
    top 2000ms cubic-bezier(0.645, 0.045, 0.355, 1)
  ;
  opacity: 0;
}
#bg0.loaded{
  top: 0px;
  opacity: 1;
}
#bg1{
  background: 
  radial-gradient(100vw at bottom right, rgb(145, 165, 193, 1), rgba(145, 165, 193, 0)) center center/100% 100% no-repeat,
  radial-gradient(100vw at top left, rgba(0, 69, 95, 1), rgba(0, 69, 95, 0)) center center/100% 100% no-repeat,
  black;
  display: block;
  position: absolute;
  float: none;
  width: 100%;
  top: 100vh;
  height: 4000px;
  opacity: .9;
}

header{
  width: 100%;
  height: 100vh;
}

header svg{
  display: block;
  position: absolute;
  float: none;
  top: 50vh;
  left: 50%;
  margin: -250px 0px 0px -250px;
}
header svg circle,
header svg path{
  fill: transparent;
  transform-origin: 50% 50%;
}
header svg g{
  opacity: 0;
  /*transform-origin: 90% 73%;*/
  transform-origin: 50% 50%;
}
header svg path{
  stroke-width: .75;
  stroke: white;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
}

p a{
  text-decoration: underline;
}

#hello h1{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  transform: translate(0px, -100%);
  text-align: center;
  padding: 0px 0px 8px;
}
#hello h1 small{
  display: block;
  position: absolute;
  float: none;
  top: 100%;
  width: 100%;
  left: 0px;
}

#about ul,
#about ul li{
  display: block;
  position: relative;
  float: left;
}
#about ul li{
  background: rgba(255, 255, 255, .08);
  padding: 8px 12px;
  border-radius: 500px;
  margin: 0px 8px 8px 0px;
  border: rgba(255,255,255,.2) solid 1px;
}
#about p:last-child{
  text-align: center;
}
#about-icons,
#about-icons a,
#about-icons a img{
  display: block;
  position: relative;
  float: left
}
#about-icons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 24px 0px 48px;
}
#about-icons a{
  margin: 8px;
}
#about-icons a img{
  height: 56px;
  width: auto;
}

#drawings figure:first-child{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin: 0px 0px 16px;

  display: flex;
  justify-content: space-around;
}

#footer-icons a,
#footer-icons a img{
  display: block;
  position: relative;
  float: left;
}
#footer-icons a{
  margin: 0px 10px 0px 0px;
}
#footer-icons a img{
  height: 40px;
  width: auto;
}

@media (min-width: 680px){
  footer p{
    display: block;
    position: relative;
    float: left;
  }
  #footer-icons{
    float: right;
  }
  #footer-icons a{
    margin: 0px 0px 0px 10px;
  }
}



/*
Scrolling experiements
*/
.use-scroller main{
  display: block;
  position: fixed;
  float: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}